# npm modules
themes/bootstrap_aveyron/node_modules

# iOS files
.DS_Store

# Map less files
*.map

# Ignore configuration files that may contain sensitive information.
sites/*/settings.*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/*/tmp

# Ignore paths that contain generated content.
tmp/

# ssl file
0D9EF05B394CC2A0C0023FBFB70F24F6.txt
