{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @ingroup templates
 *
 * @see template_preprocess_region()
 */
#}
<div class="row preFooter">
	<div class="container">
		<div class="col-md-6 leftZone">
			<p>Suivez-nous <span class="icon_twt"></span><span class="icon_rss"></span></p>
			<a href="#" class="news">Newsletter<br/><span>Inscrivez-vous !</span></a>
		</div>
		<div class="col-md-6 rightZone">
			<div class="row wrapperGris">
				<div class="col-sm-2 logoBlock"></div>
				<div class="col-sm-4 infoBlock">
					<p>
						Hôtel du Département<br/>
						Place Charles de Gaulle<br/>
						BP 724<br/>
						12007 RODEZ Cedex<br/>
						Tél : 05 65 75 80 00
					</p>
				</div>
				<div class="col-sm-6 contactBlock">
					<p class="preTitle">Contactez-nous </p>
					<p>Retrouvez l’annuaire de tous nos services</p>
				</div>
			</div>
		</div>
	</div>
</div>
<pre>{{  dump(toto) }}</pre>
<div class="row footerAveyron">
	<div class="container">
		<div class="col-md-3 block">
			<p class="preTitle">navigation ss {{ toto }}</p>
			<a href="">Accueil</a>
			<a href="">Liste des ENS</a>
			<a href="">Carte</a>
			<a href="">Evenements</a>
			<a href="">Gallerie</a>
		</div>
		<div class="col-md-3 block">
			<p class="preTitle">informations</p>
			<a href="">Nous rejoindre</a>
			<a href="">Mentions légales</a>
			<a href="">Plan du site</a>
		</div>
		<div class="col-md-3 block">
			<p class="preTitle">partenaires</p>
			<a href="">partenaire 1</a>
			<a href="">partenaire 2</a>
			<a href="">partenaire 3</a>
		</div>
		<div class="col-md-3 block">
			<p class="preTitle">liens</p>
			<a href="">Liens sortant 1</a>
			<a href="">Liens sortant 2</a>
			<a href="">Liens sortant 3</a>
			<a href="">Liens sortant 4</a>
			<a href="">Liens sortant 5</a>
		</div>
	</div>
</div>

