<div class="container-fluid wrapper">

	<div class="row fold1">
		<div class="col-lg-12 noPadding">
			<img src="{{ data.imageOnTop.uri }}" alt="{{ data.imageOnTop.field_image_on_top_alt }}" title="{{ data.imageOnTop.field_image_on_top_title }}">
		</div>
	</div>

</div>
<!-- <pre>{{  dump(data) }}</pre> -->